<!DOCTYPE html>
<HTML>

<HEAD>
  <TITLE>Alert</TITLE>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</HEAD>

<body class="w3-container w3-center w3-auto">

<div class="w3-header w3-teal w3-center w3-large">
   <h2>ALERT !!!</h2>
</div>

<div class="w3-card-4">

{{res}} added successfully.


<br>


<a href="/new_patient_registor/" class="w3-button w3-green">New Patient Registor</a>
<a href="/" class="w3-button w3-green">Go back to Home</a>
</div>

</div>
</body>
</html> 
